In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame, Series

In [2]:
pwd

'C:\\Users\\nitin'

In [3]:
n = pd.read_excel("SCHOOL STUDENT DATA 2.xlsx")

print(n.head())

  AGE SEX  HIGHT  WEIGHT  Sys Dis  PULSE
0  13   M  142.0    29.0  100  70     89
1  12   M  152.0    32.0   93  57     90
2  12   M  150.0    35.0  101  51     82
3  13   M  173.0    45.0  116  66     75
4  13   F  156.0    44.0   93  59     83

In [4]:
n.info

<bound method DataFrame.info of        AGE  SEX  HIGHT  WEIGHT  Sys Dis  PULSE
0       13    M  142.0    29.0  100  70     89
1       12    M  152.0    32.0   93  57     90
2       12    M  150.0    35.0  101  51     82
3       13    M  173.0    45.0  116  66     75
4       13    F  156.0    44.0   93  59     83
..     ...  ...    ...     ...  ...  ..    ...
811     14    M  161.0    54.0  100  77    100
812     14    M  102.0    36.0  102  75     91
813  13.5F  NaN  167.0    40.0  109  83     88
814     14    F  160.0    52.0  124  72    107
815     14    F  158.0    66.0  114  68     78

[816 rows x 7 columns]>

In [5]:
n.describe

<bound method NDFrame.describe of        AGE  SEX  HIGHT  WEIGHT  Sys Dis  PULSE
0       13    M  142.0    29.0  100  70     89
1       12    M  152.0    32.0   93  57     90
2       12    M  150.0    35.0  101  51     82
3       13    M  173.0    45.0  116  66     75
4       13    F  156.0    44.0   93  59     83
..     ...  ...    ...     ...  ...  ..    ...
811     14    M  161.0    54.0  100  77    100
812     14    M  102.0    36.0  102  75     91
813  13.5F  NaN  167.0    40.0  109  83     88
814     14    F  160.0    52.0  124  72    107
815     14    F  158.0    66.0  114  68     78

[816 rows x 7 columns]>

In [6]:
n.isnull().sum()

AGE       0
SEX       4
HIGHT     0
WEIGHT    0
Sys       0
Dis       0
PULSE     0
dtype: int64

In [7]:
n.dtypes

AGE        object
SEX        object
HIGHT     float64
WEIGHT    float64
Sys        object
Dis        object
PULSE       int64
dtype: object

In [8]:
Min_thresold, Max_thresold=n.HIGHT.quantile([0.001,0.999])
Max_thresold, Min_thresold

(468.5350000000893, 88.745)

In [9]:
n.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     816 non-null    object
 1   SEX     812 non-null    object
 2   HIGHT   816 non-null    float64
 3   WEIGHT  816 non-null    float64
 4   Sys     816 non-null    object
 5   Dis     816 non-null    object
 6   PULSE   816 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 44.8+ KB

In [10]:
n[n.HIGHT>Max_thresold]

    AGE SEX   HIGHT  WEIGHT  Sys Dis  PULSE
176  14   M  1700.0    52.0  110  70     80

In [11]:
n.isnull().sum()

AGE       0
SEX       4
HIGHT     0
WEIGHT    0
Sys       0
Dis       0
PULSE     0
dtype: int64

In [12]:
n.columns

Index(['AGE', 'SEX', 'HIGHT', 'WEIGHT', 'Sys', 'Dis', 'PULSE'], dtype='object')

In [13]:
n["Sys"].dtypes

dtype('O')

In [14]:
n["HIGHT"].max()

1700.0

In [15]:
a=pd.to_numeric(n["Sys"],errors="coerce").fillna(0).astype(int)

In [16]:
n[n.HIGHT<Min_thresold]

    AGE SEX  HIGHT  WEIGHT  Sys Dis  PULSE
397  15   F   70.0    54.0  132  54     78

In [17]:
a.dtypes

dtype('int32')

In [18]:
n["Sys"]=pd.to_numeric(n["Sys"],errors="coerce").fillna(0).astype(int)

In [19]:
n["Sys"].dtypes

dtype('int32')

In [20]:
n.describe()

             HIGHT       WEIGHT         Sys       PULSE
count   816.000000   816.000000  816.000000  816.000000
mean    161.740196    59.281985  107.574755   92.594363
std      55.013673   213.486268   15.432793   16.027076
min      70.000000     4.000000    0.000000   38.000000
25%     153.000000    42.000000   99.000000   83.000000
50%     161.000000    50.000000  106.000000   92.000000
75%     167.000000    60.000000  116.000000  100.250000
max    1700.000000  6137.000000  155.000000  169.000000

In [21]:
n["Dis"]=pd.to_numeric(n["Dis"],errors="coerce").fillna(0).astype(int)

In [22]:
n.describe()

             HIGHT       WEIGHT         Sys         Dis       PULSE
count   816.000000   816.000000  816.000000  816.000000  816.000000
mean    161.740196    59.281985  107.574755   67.123775   92.594363
std      55.013673   213.486268   15.432793   13.553552   16.027076
min      70.000000     4.000000    0.000000    0.000000   38.000000
25%     153.000000    42.000000   99.000000   59.000000   83.000000
50%     161.000000    50.000000  106.000000   67.000000   92.000000
75%     167.000000    60.000000  116.000000   74.000000  100.250000
max    1700.000000  6137.000000  155.000000  176.000000  169.000000

In [23]:
n.index

RangeIndex(start=0, stop=816, step=1)

In [24]:
Max_w,Min_w=n.WEIGHT.quantile([0.999,0.001])
Max_w,Min_w

(1218.4750000003569, 4.0)

In [25]:


n.columns

Index(['AGE', 'SEX', 'HIGHT', 'WEIGHT', 'Sys', 'Dis', 'PULSE'], dtype='object')

In [26]:
n[n.WEIGHT>Max_w]

    AGE SEX  HIGHT  WEIGHT  Sys  Dis  PULSE
413  14   F  158.0  6137.0  109   93    114

In [27]:
n['AGE']=n['AGE'].astype(int)

ValueError: invalid literal for int() with base 10: '15M'

In [ ]:
n.info

In [ ]:
n.dtypes

In [ ]:
n.describe()

In [ ]:
n["AGE"]=pd.to_numeric(n["AGE"],errors="coerce").fillna(13).astype(int)

In [ ]:
n["AGE"].mode()

In [ ]:
n.describe()

In [ ]:
n["WEIGHT"].mode()

In [ ]:
n["SEX"].replace({'M': 1, 'F': 0},inplace=True)

In [ ]:
n["SEX"]

In [ ]:
n["SEX"].replace({'NaN': 0},inplace=True)

In [ ]:
n["SEX"]

In [ ]:
n["SEX"].isnull().sum()

In [ ]:
n['SEX'].fillna(1, inplace=True)

In [ ]:
n["SEX"]

In [ ]:
n.isnull().sum()

In [ ]:
n["AGE"].replace({"o":13},inplace=True)

In [ ]:
n.describe

In [ ]:
n.info()

In [ ]:
n["Sys"].mode()

In [ ]:
n["Sys"]= pd.to_numeric(n["Sys"],errors="coerce").fillna().astype(int)

In [ ]:
n.describe(include = "object")

In [ ]:
n.info()

In [ ]:
n['Dis']=pd.to_numeric(n['Dis'])
n

In [ ]:
for col in n.describe(include="object").columns:
    print (col)
    print (n[col].unique())
    print ("-"*50)

In [ ]:
n['Sys'].plot(kind='box')
plt.show()

In [ ]:
n['Dis'].iloc[126] = 10
n

In [ ]:
n['AGE']=pd.to_numeric(n['AGE'])

In [ ]:
n['AGE'].iloc[338]=15

In [ ]:
n['AGE'].iloc[593]=15

In [ ]:
n['AGE'].iloc[813]=13

In [ ]:
n

In [ ]:
n.dropna()

In [ ]:
n.describe()

In [ ]:
sex_per = n['SEX'].value_counts(normalize= True)
sex_per

In [ ]:
plt.scatter(n['AGE'],n['PULSE'])
plt.xlabel("AGE")
plt.ylabel("PULSE")
plt.title("Scatter Plot")
plt.show()

In [ ]:
plt.scatter(n['WEIGHT'],n['PULSE'])
plt.xlabel("WEIGHT")
plt.ylabel("PULSE")
plt.title("WEIGHT VS PULSE")
plt.show()
n=n[n['WEIGHT']<150]

In [ ]:
fig, axs = plt.subplots(3)
axs[0].plot(n['PULSE'])
axs[1].plot(n['Dis'])
axs[2].plot(n['Sys'])
plt.show()

In [ ]:
plt.scatter(n['HIGHT'],n['PULSE'])
plt.xlabel("HIGHT")
plt.ylabel("PULSE")
plt.show()
n=n[n['HIGHT']<200]
n=n[n['PULSE']<140]

In [ ]:
n['WEIGHT'].mode()

In [ ]:
plt.scatter(n['WEIGHT'],n['Sys'])
plt.xlabel("WEIGHT")
plt.ylabel("Sys")
plt.show()
n=n[n['WEIGHT']<70]

In [ ]:
plt.scatter(n['Sys'],n['Dis'])
plt.xlabel["Sys"]
plt.ylabel["Dis"]
plt.show()

In [ ]:
n.cov()

In [ ]:
n.corr()

In [ ]:
n["PULSE"].max()

In [ ]:
def is_less_than_140(x):
  return np.less(x, 140)

n["PULSE"].replace(is_less_than_140, 135)

In [ ]:
n

In [ ]:
n.shape

In [ ]:
plt.bar(n['HIGHT'],n['WEIGHT'])
plt.xlabel('HIGHT')
plt.ylabel('WEIGHT')
plt.show()
n=n[n['WEIGHT']<190,n['WEIGHT']>30]
n=n[n['HIGHT']<190]

In [28]:
Max_s, Min_s=n.Sys.quantile([0.999,0.001])

In [29]:
Max_s, Min_s

(151.74000000000024, 47.27)

In [33]:
n[n.Sys<Max_s]

       AGE  SEX  HIGHT  WEIGHT  Sys  Dis  PULSE
0       13    M  142.0    29.0  100   70     89
1       12    M  152.0    32.0   93   57     90
2       12    M  150.0    35.0  101   51     82
3       13    M  173.0    45.0  116   66     75
4       13    F  156.0    44.0   93   59     83
..     ...  ...    ...     ...  ...  ...    ...
811     14    M  161.0    54.0  100   77    100
812     14    M  102.0    36.0  102   75     91
813  13.5F  NaN  167.0    40.0  109   83     88
814     14    F  160.0    52.0  124   72    107
815     14    F  158.0    66.0  114   68     78

[815 rows x 7 columns]

In [32]:
Max_d, Min_d=n.Dis.quantile([0.999,0.001])

In [ ]:
Max_d, Min_d